<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1055704826167-t4mjosr3krq6babama6p452mrm9a1vs7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1055704826167-t4mjosr3krq6babama6p452mrm9a1vs7</string>
	<key>API_KEY</key>
	<string>AIzaSyBRPQ3LMxLUQzR-dAqlfiYM4ZDlXv8RiHQ</string>
	<key>GCM_SENDER_ID</key>
	<string>1055704826167</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.pointfree.standups.firebase</string>
	<key>PROJECT_ID</key>
	<string>standups-d2d0e</string>
	<key>STORAGE_BUCKET</key>
	<string>standups-d2d0e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1055704826167:ios:eac56ba417725a4e0c1ab2</string>
</dict>
</plist>